// colors
$color-primary: #0ABDE3;
$color-primary-light: #48DBFB;
$color-primary-dark: #099CBF;

$color-white: #FFFFFF;
$color-grey-light: #8395a7;
$color-grey-dark: #576574;

$color-black: #0D0E15;
$color-black-light: #191a22;


//font
$default-font-size: 1.6rem;