@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:400,700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background: $color-grey-dark;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
}

.heading-primary {
  display: inline-block;
  font-size: 5rem;
  bottom: 20rem;
  cursor: default;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 1.0));
  -webkit-background-clip: text;
  color: transparent;
}

.paragraph {
  font-size: 1.8rem;

}

.section__heading {
  padding: 3rem;
  margin-top: 15rem;
  border-radius: 3px;

}